body {
    background-color: white;
}

#loginbox {
    margin-top: 30px;
}

    #loginbox > div:first-child {
        padding-bottom: 10px;
    }

.iconmelon {
    display: block;
    margin: auto;
}

#form > div {
    margin-bottom: 25px;
}

    #form > div:last-child {
        margin-top: 10px;
        margin-bottom: 10px;
    }

.panel {
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -2;
}

.iconmelon,
.im {
    position: relative;
    width: 150px;
    height: 150px;
    display: block;
    fill: #525151;
}

    .iconmelon:after,
    .im:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

@media screen and (max-width: 440px) {
    .g-recaptcha {
        transform: scale(0.68);
        -webkit-transform: scale(0.68);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media screen and (max-width: 900px) and (min-width: 450px) {
    .g-recaptcha {
        transform: scale(0.88);
        -webkit-transform: scale(0.88);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/BebasNeue-webfont.woff') format('woff'), url('fonts/BebasNeue-webfont.ttf') format('truetype'), url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.containerIni {
    text-align: center;
}

    .containerIni > header {
        display: block;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
        text-align: center;
    }

        .containerIni > header h1 {
            font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
            font-size: 30px;
            position: relative;
            font-weight: 200;
            color: rgba(26,89,120,0.9);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
            padding: 0px 0px 5px 0px;
        }

            .containerIni > header h1 span {
                color: #7cbcd6;
                text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
            }

a.tooltips {
    position: relative;
    display: inline;
    text-decoration: none;
}

    a.tooltips span {
        position: absolute;
        width: 140px;
        color: #FFFFFF;
        background: #000000;
        height: 30px;
        line-height: 30px;
        text-align: center;
        visibility: hidden;
        border-radius: 6px;
        text-decoration: none;
    }

        a.tooltips span:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-top: 8px solid #000000;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
            text-decoration: none;
        }

a:hover.tooltips span {
    visibility: visible;
    opacity: 0.8;
    bottom: 30px;
    left: 50%;
    margin-left: -76px;
    z-index: 999;
    text-decoration: none;
}

#DivSeePass:hover {
    background: #CBC6C6;
    opacity: 0.8;
}