﻿#accordian {
    background: #F8F8F8;
    width: 250px;
    margin: 1px auto 0 auto;
    color: rgb(21, 21, 21);
    font-weight: bold;
    /*box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);*/
}

    #accordian h3 {
        font-weight: bold;
        font-size: 12px;
        line-height: 34px;
        padding: 0 10px;
        cursor: pointer;
        /*Para navegadores que no soportan gradientes*/
        /*background: #dcdada;
        background: linear-gradient(#dcdada, #cccbcb);*/
    }

        #accordian h3:hover {
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
            background: #dcdada;
        }

        #accordian h3 span {
            font-size: 16px;
            margin-right: 10px;
        }

    #accordian li {
        list-style-type: none;
    }

    #accordian ul {
        padding: 0;
    }

        #accordian ul li h3 {
            margin: 0;
        }

        #accordian ul ul li a {
            color: rgb(21, 21, 21);
            text-decoration: none;
            font-size: 11px;
            line-height: 27px;
            display: block;
            padding: 0 15px;
            transition: all 0.15s;
        }

            #accordian ul ul li a:hover {
                background: #EEEEEE;
                border-left: 5px solid #92BE21;
            }

        #accordian ul ul {
            display: none;
        }

    #accordian li.active ul {
        display: block;
    }

    #accordian ul ul ul {
        margin-left: 15px;
        border-left: 1px dotted rgba(0, 0, 0, 0.5);
    }

    #accordian .active a:not(:only-child):after {
        content: "˅";
    }

    #accordian a:not(:only-child):after {
        content: "˂";
        float: right;
    }

.SpamNotify {
    position: absolute;
    -moz-margin: -2px 0px 0px -23px;
    margin: -29px 0px 0px 4px;
    font-size: 0.7em;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 0px rgb(2, 136, 209);
}

@-moz-document url-prefix() {
    .SpamNotify {
        position: absolute;
        margin: -2px 0px 0px -23px;
        font-size: 0.7em;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-shadow: 0px 0px rgb(2, 136, 209);
    }
}

.lookNotify {
    background-color: #0288d1;
}

.lookNotify .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #0288d1;
}
