/*body{
	background: #fff url(../images/bg2.jpg) no-repeat top right;
	background-attachment: fixed;
	background-size: cover;
}*/
@font-face {
    font-family: 'Open Sans Condensed';
    src: url(/Content/fonts/OpenSans-CondLight.ttf);
}
body{
    overflow: hidden;
}
h2{
    font-family: 'Open Sans Condensed','Arial Narrow', serif;
	font-weight: 400;
    font-size:15px;
    -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	overflow-x: hidden;
}

/*.backgroundImage{
    background-image: url(/images/mobileBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -129px;
    height: 100% !important;
}*/

.jumbotron{
    padding-top: 0px;
    background-color: #ffffff;
}

#page-wrapper{
    padding-left:0px;
}

.bannerImages{
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    overflow: hidden;
}
.desktopBannerImage{    
    width: 100%;
    position: absolute;
    left: 0;
}
.mobileBannerImage{    
    width: 100%;
    position: absolute;
    left: 0;
}
.carBannerImage{    
    width: 100%;
    position: absolute;
    left: 0;
}
.texts{
    top:20px;
    padding-left: 47px;
}

.rw-wrapper{
	width: 80%;
	position: relative;
	margin: 110px auto 0 auto;
	padding: 10px;
}
.rw-sentence{
	margin: 0;
	text-transform: uppercase;
	font-weight: 300;
	text-shadow: 0 0 0 rgba(0,0,0,0.0001);
}
.rw-sentence span{
	color: #000;
	white-space: nowrap;
}
.rw-sentence > span:first-child{
	display: block;
	text-indent: 5px;
	font-size: 145%;
}
.rw-words{
	width: 100%;
	height: 88px;
	-webkit-perspective: 800px;
	perspective: 800px;
}
.rw-words span{
	position: absolute;
	width: 100%;
	opacity: 0;
	white-space: nowrap;
	overflow: hidden;
}
.rw-words-1 span{
	font-size: 500%;
	line-height: 120%;
	-webkit-animation: rotateWordsFirst 9s linear infinite 0s;
	-ms-animation: rotateWordsFirst 9s linear infinite 0s;
	animation: rotateWordsFirst 9s linear infinite 0s;
}
.rw-words-2 span{
	font-size: 300%;
	font-style: italic;
	text-indent: 5px;
	line-height: 90%;
	color: #da0a0a;	
	-webkit-animation: rotateWordsSecond 9s ease-in infinite 0s;
	-ms-animation: rotateWordsSecond 9s ease-in infinite 0s;
	animation: rotateWordsSecond 9s ease-in infinite 0s;
}
.rw-words span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 0; -ms-animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -ms-animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 0; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px;}
    5% { opacity: 1; -webkit-animation-timing-function: ease-out; animation-timing-function: ease-out; width: 100%;}
    17% { opacity: 1; }
    20% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 0; -ms-transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -ms-transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 0; -webkit-transform: translateZ(600px) translateX(200px); transform: translateZ(600px) translateX(200px);}
    8% { opacity: 1; -webkit-transform: translateZ(0px) translateX(0px); transform: translateZ(0px) translateX(0px);}
    17% { opacity: 1; }
    25% { opacity: 0; }
    100% { opacity: 0; }
}

@media screen and (min-width: 1368px){
    .jumbotron{
        padding-top: 0px;
        height: 528px;
    }

    .mobileBannerImage{
        top: -99px;
    }
    .desktopBannerImage{    
        top: -538px;
    }
    .carBannerImage{    
        top: -202px;
    }
    .texts{
        top: 163px;
    }
}

@media screen and (max-width: 1366px){
    .jumbotron{
        padding-top: 0px;
        height: 528px;
    }

    .mobileBannerImage{
        top: -99px;
    }
    .desktopBannerImage{    
        top: -150px;
    }
    .carBannerImage{    
        top: -50px;
    }
    .texts{
        top: 163px;
    }
}

@media screen and (max-width: 768px){
    .jumbotron{
        padding-top: 0px;
        height: 528px;
    }
    #page-wrapper{
        padding-right:0px;
    }

    .mobileBannerImage{
        top: -50px;
    }
    .desktopBannerImage{    
        top: -50px;
    }
    .carBannerImage{    
        top: -50px;
    }
    .texts{
        top: 40px;
        padding-left: 0px;
    }
}

@media screen and (max-width: 1060px){
	.rw-words{ height: 55px; }
	.rw-words-1 span{ font-size: 280%; text-indent: 5px;}
	.rw-words-2 span { font-size: 160%; }
    
}
@media screen and (max-width: 560px){
	.rw-words{ height: 40px; }
	.rw-words-1 span{ font-size: 180%; text-indent: 5px;}
	.rw-words-2 span { font-size: 90%; }
	.rw-sentence > span:first-child{ font-size: 80%;}
}
@media screen and (max-width: 400px){
	.rw-words{ height: 30px; }
	.rw-words-1 span{ font-size: 140%; text-indent: 5px;}
	.rw-words-2 span { font-size: 70%; }
	.rw-sentence > span:first-child{ font-size: 60%;}
}