﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="panel-body">
    <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Buscar estudiantes por Asignatura</h3>
                </div>

                <div class="panel panel-success" id="pnElementos">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-default">Informacion estudiantes:</h3>
                    </div>
                    <div class="panel-body">
                        <div id="DivTable" class="col-md-12" @*style="display:none"*@>
                            <div class="form-group" style="overflow-x:auto">
                                <table id="ListEstuMat" class="display responsive nowrap" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Asignatura</th>
                                            <th>Programa</th>
                                            <th>CC Estudiante</th>
                                            <th>Nombre estudiante</th>
                                            <th>Cedula estudiante</th>
                                            <th>Nombre Docente</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        cargarDatos();

    });

    var cargarDatos = function () {
        var url = '@ViewBag.EstudiantePorAsignatura' + 'EstudiantesGeneral';
        callService(function (data) {
            CargarDataTable(function (result) {
                if (!result) {
                    swal({
                        showLoaderOnConfirm: true,
                        confirmButtonText: "Aceptar",
                        type: "error",
                        title: "Atención!!!",
                        text: "Ocurrio un error por favor comuniquese con el adiministrador",
                    });
                }
            }, data);
        }, url);
    }

    var callService = function (Response, Url) {
        $.getJSON(Url, function (data) {
            return Response(data);
        });
    }

    var CargarDataTable = function (CallbackTable, Data) {
        var array = $.map(Data, function (value) {
            return [value];
        });
        //console.log('datos', array);
        var incremento = 0;
        $DataTableSolicitudes = $('#ListEstuMat').DataTable({
            data: array,
            destroy: true,
            columns: [
                        { data: 'nombreAsig' },
                        { data: 'nombrePrograma' },
                        { data: 'cedulaEstudiante' },
                        { data: 'nombresEstudiante' },
                        { data: 'cedulaEstudiante' },
                        { data: 'Docente' }
            ],
            bPaginate: true,
            bFilter: true,
            bInfo: true,
            responsive: true
        });
        return CallbackTable(true);
    }


</script>