﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .modal-dialog {
        width: 70%;
        margin: 20px auto;
        height: 100%;
    }
</style>
<style>
    td.details-control {
        background: url('../../images/details_open.png') no-repeat center center;
        cursor: pointer;
    }

    tr.shown td.details-control {
        background: url('../../images/details_close.png') no-repeat center center;
    }

    /*set a border on the images to prevent shifting*/
    #gallery_01 img {
        border: 2px solid white;
    }

    /*Change the colour*/
    .active img {
        border: 2px solid #333 !important;
    }


    .modal-dialog {
        width: 70%;
        margin: 30px auto;
        height: 100%;
    }

    .altoPadre {
        height: 85%;
    }

    .altoHijo {
        height: 85%;
    }

    .altoHijoCien {
        height: 100%;
    }
</style>
<div class="panel-body">
    <div class="col-md-12">
        <div class="form-group">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Buscar estudiantes por Asignatura</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="row">
                                <label for="lbSeg" class="col-sm-1 control-label">Programas:</label>
                                <div class="col-sm-3" id="lbSeg">
                                    <select class="form-control" id="ddlProgramas" onchange="BuscarMaterias()"></select>
                                </div>
                                <div style="display:none" id="divPrograma">
                                    <label for="lbSeg" class="col-sm-1 control-label">Materias:</label>
                                    <div class="col-sm-3" id="lbmat">
                                        <select class="form-control" id="ddlMaterias" onchange="mostrarBoton()"></select>
                                    </div>
                                </div>

                                <div class="form-group" style="display:none" id="divBtnBuscar">
                                    <div class="col-sm-2">
                                        <button id="BuscarEstudiantes" type="button" class="btn btn-primary">Buscar</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-success" id="pnElementos" style="display:none">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-default">Informacion estudiantes:</h3>
                    </div>
                    <div class="panel-body">
                        <div id="DivTable" class="col-md-12" style="display:none">
                            <div class="form-group" style="overflow-x:auto">
                                <table id="ListEstuMat" class="display responsive nowrap" cellspacing="0" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>Detalle</th>
                                            <th>Asignatura</th>
                                            <th>Programa</th>
                                            <th>CC Estudiante</th>
                                            <th>Nombre estudiante</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script>
    $(document).ready(function () {
        $("#BuscarEstudiantes").click(BuscarDatosTable);
        buscarProgramas();
    });

    var BuscarMaterias = function () {
        if ($("#ddlProgramas option:selected").val() == 0) {
            $("#ddlMaterias").find('option').remove().end();
            $("#divPrograma").hide();
            swal({
                showLoaderOnConfirm: true,
                confirmButtonText: "Aceptar",
                type: "warning",
                title: "Atención!!!",
                text: "Escoja una opcion valida",
            });

        } else {
            var url = '@ViewBag.MateriaServices' + 'GetAsignaturasxIdPrograma/' + $("#ddlProgramas option:selected").val();
            callService(function (Data) {
                if (Data.length > 0) {
                    $("#divPrograma").show();
                    $("#ddlMaterias").find('option').remove().end();
                    $("#ddlMaterias").append('<option value="0">Seleccione Materia..</option>');
                    $.each(Data, function (i, d) {
                        $("#ddlMaterias").append('<option value="' + d.IdAsignatura + '">' + d.nombre + '</option>');
                    });
                } else {
                    OnSuccess(Data, "error");
                }


            }, url);
        }
    }

    var mostrarBoton = function () {
        if ($("#ddlMaterias option:selected").val() == 0) {
            $("#divBtnBuscar").hide();
        } else {
            $("#divBtnBuscar").show();
        }
    }


    var BuscarEstudiantes = function () {
        if ($("#ddlMaterias option:selected").val() == 0 && $("#ddlProgramas option:selected").val() == 0) {
            alert("Escoja una opcion valida");
        } else {

        }
    }

    var BuscarDatosTable = function () {
        var url = '@ViewBag.EstudiantePorAsignatura' + 'GetProgramasAcademicos?IdPrograma=' + $("#ddlProgramas option:selected").val() + '&IdAsignatura=' + $("#ddlMaterias option:selected").val();
        callService(function (data) {
            CargarDataTable(function (callback) {
                if (callback) {
                    $("#DivTable").show();
                    $("#pnElementos").show();
                }
            }, data);
        }, url);
    }

    var buscarProgramas = function () {
        $.getJSON("@ViewBag.ProgramasServices" + "GetProgramasAcademicos", function (data) {
            if (data != null && data != "") {
                $("#ddlProgramas").find('option').remove().end();
                $("#ddlProgramas").append('<option value="0">Seleccione Programa..</option>');
                $.each(data, function (i, d) {
                    $("#ddlProgramas").append('<option value="' + d.IdPrograma + '">' + d.nombre + '</option>');
                });
            }
        });
    }

    var cargarDropPrgramas = function () { }
    function CallService() {
        $.getJSON("http://localhost:56197/WS/Materias.svc/GetEstaMierda", function (data) {
            processData(data);
        });
        function processData(data) {
            alert(data);
        }
    }

    var callService = function (Response, Url) {
        $.getJSON(Url, function (data) {
            return Response(data);
        });
    }


    function OnSuccess(data, status) {
        alert(data.d);
    }

    function OnError(request, status, error) {
        alert('error');
    }

    var CargarDataTable = function (CallbackTable, Data) {
        var array = $.map(Data, function (value) {
            return [value];
        });
        //console.log('datos', array);
        var incremento = 0;
        $DataTableSolicitudes = $('#ListEstuMat').DataTable({
            data: array,
            destroy: true,
            columns: [
                {
                    className: 'details-control',
                    orderable: false,
                    value: 'Detalles',
                    defaultContent: ''
                },
                        { data: 'nombreAsig' },
                        { data: 'nombrePrograma' },
                        { data: 'cedulaEstudiante' },
                        { data: 'nombresEstudiante' }
            ],
            bPaginate: true,
            bFilter: true,
            bInfo: true,
            responsive: false
        });
        CargartablaHija();
        return CallbackTable(true);
    }

    function CargartablaHija() {
        // Add event listener for opening and closing details
        $('#ListEstuMat tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = $DataTableSolicitudes.row(tr);
            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
                $("#TbEdit").empty();
            }
            else {
                // Open this row
                ConsultarDetalle(row.data().IdEstudianteAsignatura, function (result) {
                    row.child(format(result, row.data().nombreAsig, row.data().IdEstudianteAsignatura)).show();
                    tr.addClass('shown');

                });
            }
        });
    }

    var ConsultarDetalle = function (IdEstudianteAsignatura, Callback) {
        var url = '@ViewBag.EstudiantePorAsignatura' + 'GetNotasXEstudiante?IdAsignaturaEstu=' + IdEstudianteAsignatura;
        callService(function (data) {
            if (data.length == 3) {
                swal({
                    showLoaderOnConfirm: true,
                    confirmButtonText: "Aceptar",
                    type: "error",
                    title: "Atención!!!",
                    text: "Debe ingresar  la fecha de entrega.",
                }, function () {
                    var tr = $('td.details-control').closest('tr');
                    var row = $DataTableSolicitudes.row(tr);
                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        tr.removeClass('shown');
                    }
                    return;
                });
            } else {
                return Callback(data);
            }
        }, url);
    }

    function format(d, nombre, idnotaestu) {
        var index = d.length == 0 ? 3 : 3 - d.length;

        var Idents = index;

        var table = (
                      '<div class="panel-body">' +
                       '<div class="col-md-12">' +
                        '<div class="form-group" style="overflow-x:auto">' +
                          '<table id="TbEdit" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                            '<tr>' +
                                '<th style="display:none">IdNota </th>' +
                                '<th>Corte </th>' +
                                '<th><strong> Nombre Asignatura </strong> </th>' +
                                '<th><strong> Nota </strong></th>' +
                                '<th style="text-align: center;"> <strong> Corte </strong></th>' +
                                '<th style="display:none" >Actualiza</th>' +
                            '</tr>')

        if (d.length > 0 && index > 0) {
            MayorCero(function (resultHtml) {
                table += resultHtml;
            }, d, index);
        }
        if (index == 3) {
            DataCero(function (resultHtml) {
                table += resultHtml;
            }, index, nombre, idnotaestu);
        }
        table += '</table><div class=\"row\""><button id=\"Icon' + Idents + '\" type=\"button\" style="\margin-left: 1%;"\ class=\" btn btn-primary\" onClick="obtenerdatossubtabla()"/> <i class=\"fa fa-pencil-square-o\"></i> Editar</button></div></div>' +
     '</div>' +
'</div>';
        $('#TbEdit_' + Idents).DataTable();
        return table;
    };

    var MayorCero = function (callHtml, data, index, nombre) {
        var html = "";
        $.each(data, function (key, vale) {
            html += ('<tr>' +
            '<td style="display:none"> <input type="number" min="0" value="' + vale.idasignaturaEstudiante + '"  class="form-control" id="TxtInpuNota"  disabled/></td>' +
            '<td>' + vale.corte + '</td>' +
            '<td> <input type="text" value="' + vale.NombreAsinatura + '"  class="form-control" id="TxtInpuNonAsig" disabled/></td>' +
            '<td> <input type="number" min="0" value="' + vale.nota + '"  class="form-control" id="TxtInpuNota" disabled/></td>' +
            '<td> <input type="number" min="0" value="' + vale.corte + '"  class="form-control" id="TxtInpuCorte" disabled/></td>' +
            '<td style="display:none"> <input type="number" min="0" value="0"  class="form-control" id="TxtInpuCorte" disabled/></td>' +
            '</tr>'
            )
        });
        DataCero(function (resultHtml) {
            html += resultHtml;
        }, index, nombre);
        return callHtml(html);
    }

    var DataCero = function (Callhtml, Index, nombre, idnotaestu) {
        var html = "";
        for (var i = 0; i < Index; i++) {
            html += ('<tr>' +
          '<td style="display:none"> <input type="number" min="0" value="' + idnotaestu + '"  class="form-control" id="TxtInpuNota_' + i + 1 + '" /></td>' +
          '<td>' + (parseInt(i) + 1) + '</td>' +
          '<td>' + nombre + '</td>' +
          '<td> <input type="number" min="0" max="10" class="form-control" id="TxtInpuNota:' + i + 1 + '" /></td>' +
          '<td> <input type="number" min="0" max="3"  class="form-control" id="TxtInpuCorte_' + i + 1 + '" /></td>' +
          '<td style="display:none"> <input type="number" min="0" value="1"  class="form-control" id="TxtInpuCorte" /></td>' +
          '</tr>'
          )
        }
        return Callhtml(html);
    }


    var dynamicObjetc = function (Idnota, nota, corte, idasignaturaEstudiante, NombreAsinatura, editar) {
        this.Idnota = Idnota;
        this.nota = nota;
        this.corte = corte;
        this.idasignaturaEstudiante = idasignaturaEstudiante;
        this.NombreAsinatura = NombreAsinatura;
        this.editar = editar;
    }

    var obtenerdatossubtabla = function () {
        var TableData = new Array();
        var contadorTable = $("#TbEdit tbody tr").length;
        var cont = 0, bod = "", contadorregistro = 0;

        $("#TbEdit tbody tr").each(function () {
            cont++;
            var index1 = "";
            var index2 = "";
            var index3 = "";
            var indexE = "";

            $(this).find('td input, span, select').each(function () {
                index1 = index1 + $(this).val() + "^~";
            });

            $(this).find('td').each(function () {
                index2 = index2 + $(this).text() + "^~";
            });

            $(this).find('td textarea').each(function () {
                index3 = index3 + $(this).val() + "^~";
            });
            var obj = index1.split("^~");
            var obj2 = index2.split("^~");
            var obj3 = index3.split("^~");

            console.log("obj", obj);
            console.log("obj2", obj2);
            console.log("obj3", obj3);

            $(this).find('td select').each(function () { //Estados ubicacion- Select
                indexE = indexE + $(this).val() + "^~";
            });

            var objE = indexE.split("^~");
            if (cont > 1) {
                TableData[cont - 2] = {
                    "idasignaturaEstudiante": obj[0] //idSolicitud
                           , "nota": obj[1] //UniversalHelper.retornaCodigo(obj2[3]) //Codigo
                           , "corte": obj[2] //Serial
                           , "editar": obj[3] //Cantidad
                };
            }

            contadorregistro++;
        });

        if (contadorregistro == contadorTable) {
            var jsont = JSON.stringify(TableData);
            ejetutatrx(jsont);
            //guardarDetalle(jsont);//actualizar detalle
        }
    }

    var ejetutatrx = function (jsont) {

        $.ajax({
            type: "POST",
            url: "http://localhost:56197/WS/NotasServices.svc/PostNotas",
            data: jsont,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            processData: true,
            success: function (data, status, jqXHR) {
                alert("success..." + data);
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });

    }

</script>